.newTaskMenu {
  position: relative;
  padding: 2px;
}

.newTaskButton {
  color: var(--text-color);
  font-size: var(--font-size-lg);
  width: 100%;
  align-items: center;
  border: 1px grey solid;
  
  &:hover {
    background-color: var(--hover);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.dropdownMenu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 11;
  animation: fadeIn 0.3s ease-out forwards;

  &.alignRight {
    left: auto;
    right: 0;
  }
  
  &.alignTop {
    top: auto;
    bottom: 100%;
  }
}

