.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--modal-bg);
  padding: var(--spacing-lg);
  border-radius: 8px;
  text-align: center;
  width: 300px;

  h3 {
    margin-bottom: var(--spacing-md);
  }

  p {
    font-size: var(--font-size-md);
    color: var(--text-color);
    margin-bottom: var(--spacing-lg);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background: var(--save-button-color);
  color: var(--text-color);
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background: var(--cancel-button-color);
  color: white;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
}
