@use "../../styles/vars" as *;

.taskCard {
  position: relative;
  padding: var(--spacing-sm);
  margin: 5px 0;
  background: var(--task-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.taskCard:active {
  cursor: grabbing;
}

.title {
  font-size: var(--font-size-md);
  font-weight: bold;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.details {
  text-align: left;
  width: 100%;
  font-size: 14px;

  & p {
    margin-bottom: var(--spacing-sm);
  }
}

.deleteButton {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: var(--font-size-sm);
  width: var(--font-size-sm);
  height: var(--font-size-sm);
  color: var(--text-color);
  transition: color 0.2s;

  &:hover {
    color: var(--cancel-button-color);
    background-color: var(--hover);
  }
}
