@use "./vars" as *;

#scaler {
  min-width: 970px;
  width: 100%;
  margin: 0 auto;
  transform-origin: top left;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Lora", Arial, serif;
  background: var(--background-color);
  color: var(--text-color);
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: inherit;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--calendar-header);
    cursor: default;
    &:hover {
      background: var(--calendar-header);
      opacity: 1;
    }
  }

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
  }
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tooltip {
  // position: relative;
  z-index: 9;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltipDawn::after {
  top: 30px;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.squareButton {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 10px;
  font-family: inherit;
}

.buttonColorsPrimary {
  color: var(--button-text-color);
  background-color: var(--primary-color);
}

.buttonColorsSecondary {
  color: var(--primary-color);
  background-color: var(--secondary-header);
}
