.loginForm {
  background-color: var(--calendar-day);
  border-radius: 0.5rem;
  padding: var(--spacing-lg);
  box-sizing: border-box;
  width: 300px;
  box-shadow: var(--shadow-lg);

  & input {
    box-sizing: border-box;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
  }

  button {
      color: white;
      margin-top: 5px;
      padding: 5px 10px;
      border-radius: 5px;
      
      background: var(--primary-color);
    }
}

