@use "../../../styles/vars" as *;

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--spacing-md);
}

.disabled {
  background-color: var(--calendar-header);
  cursor: default;
  &:hover {
    background: var(--calendar-header);
    opacity: 1;
  }
}
