.calendar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;

  button {
    color: black;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: large;
  }
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #f4f4f4;
  font-weight: bold;
  padding: 10px 0;
}

.weekDay {
  padding: 5px;
}

.weekend {
  color: #b00;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendarDay {
  position: relative;
  min-height: 80px;
  border: 1px solid #ddd;
  background: #fff;
  transition: background 0.2s;
}

.today {
  border: 2px solid blue;
}

.weekendDay {
  background: #e0e0e0;
}

.pastDay {
  background: #f0f0f0;
}

.dayNumber {
  font-size: 14px;
  font-weight: bold;
}

.taskList {
  margin-top: 5px;
}

.dayTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 240, 240, 0.6);
  padding: 5px 0 5px 10px;
}
