@use "../../styles/vars" as *;

.calendar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;

  button {
    color: black;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: large;
  }
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
}

.weekDay {
  padding: 5px;
  
}

.weekend {
  color: red;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendarDay {
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
}

.today {
  border: 2px solid $primary-color;
}

.pastDay {
  background: #f0f0f0; // Прошедшие дни закрашены серым
}

.dayTitle {
  padding: 5px 10px;
}

.dayNumber {
  font-size: 14px;
  font-weight: bold;
}

.taskList {
}
