@use "../../styles/vars" as *;

.loader{
  height: 80vh;
}

.calendar {
  // min-width: 947px;
  max-width: 80%;
  margin: 0 auto;
  padding:0  var(--spacing-xl) var(--spacing-xxl);
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & h2{
    margin: var(--spacing-lg);
  }

  & button {
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: large;

    &:hover {
      background-color: var(--hover);
    }
  }
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0;
  background-color: var(--calendar-header);
  font-size: 20px;
}

.weekDay {
  padding: 5px;
  background-color: var(--calendar-header);
  font-size: 20px;
}

.weekend {
  color: red;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendarDay {
  position: relative;
  border: 1px solid #ddd;
  background: var(--calendar-day);
}

.today {
  border: 2px solid var(--today-color);
}

.pastDay {
  background: var(--calendar-past-day); // Прошедшие дни закрашены серым
}

.dayTitle {
  padding: 5px 10px;
}

.dayNumber {
  font-size: 17px;
  font-weight: bold;
}

