.taskForm {
  background-color: var(--calendar-day);
  border-radius: 1rem;
  padding: var(--spacing-lg);
  box-sizing: border-box;
  width: 300px;
  box-shadow: var(--shadow-lg);

  & textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  & h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.closeButton {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  font-size: var(--font-size-lg);

  &:hover {
    background-color: var(--hover);
  }
}

.inputBlock {
  margin: 10px 0;
  text-align: left;

  & input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}

.error {
  color: var(--cancel-button-color);
  font-size: var(--font-size-sm);
}

.previewImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 8px;
  border-radius: 8px;
}

.customFileUpload {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-sm);
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  font-size: var(--font-size-sm);

  &:hover {
    opacity: 0.8;
  }
}

.customFileUpload input {
  display: none; /* Скрыть стандартный input */
}

.fileInput {
  display: none; /* Скрываем сам input, чтобы он не мешал кастомной кнопке */
}
