@use "../../styles/vars.scss" as *;

.header {
  background: var(--primary-color);
  color: white;
  width: 100%;
}

.content {
  width: 80%;
  margin: auto;
  padding: var(--spacing-md, --spacing-lg);
  position: relative;
  place-items: center;
  box-sizing: border-box;

  .title {
    display: block;
    font-size: var(--font-size-header-title);
  }

  .subtitle {
    font-size: var(--font-size-header-subtitle);
  }

  .button {
    position: absolute;
    top: 55px;
    right: 40px;
    width: 35px;
    height: 35px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: var(--theme-button-color);

    &:hover {
      background-color: var(--hover);
    }

    font-size: var(--font-size-lg);

    @media (max-width: $max-width) {
      font-size: var(--font-size-header-subtitle);
      top: 45px;
      right: 50px;
      width: 55px;
      height: 55px;
    }
  }

  @media (max-width: $max-width) {
    width: 100%;
  }
}
