.header {
  background: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: var(--spacing-md, --spacing-lg);
  text-align: center;
}

.title{
  display: block;
  width: 100%;
}

.button{
  width: 30px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 50%;
  background-color: var(--theme-button-color);

  &:hover {
    background-color: var(--hover);
  }
}