@use "../../styles/vars.scss" as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modalContent {
  position: relative;
  background: var(--calendar-day);
  padding: var(--spacing-xl);
  border-radius: 8px;
  text-align: left; /* Выравнивание по левому краю */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 0.3s ease-out forwards;
  overflow-y: auto;

  font-size: var(--font-size-lg);

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
  }
}

/* Стиль для вертикальной ориентации (портрет) */
@media (orientation: portrait) {
  .modalContent {
    width: 80%; /* 80% от ширины экрана для вертикальной ориентации */
    min-height: 80%; /* Высота будет зависеть от контента */
    max-height: 100%; /* Максимальная высота 80% от высоты экрана */
  }
}

/* Стиль для горизонтальной ориентации (пейзаж) */
@media (orientation: landscape) {
  .modalContent {
    width: auto; /* Ширина будет зависеть от контента */
    min-height: 90%; /* 80% от высоты экрана для горизонтальной ориентации */
    max-width: 60%; /* Максимальная ширина 80% от ширины экрана */
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  font-size: var(--font-size-lg);

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
    right: 20px;
    top: 7px;
  }

  &:hover {
    background-color: var(--hover);
  }
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.date{
  font-size: var(--font-size-header-subtitle);
  text-align: center;
}

.input,
.textarea {
  color: var(--text-color);
  background: var(--calendar-day);
  width: 100%;
  padding: 0 0 0 8px;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-lg);

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
  }
}

.textarea {
  resize: none;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 40px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  width: 100%;
}

.label {
  color: var(--text-color);
  font-weight: bold;
}

.input {
  flex-grow: 1;
  margin: 0;

  &.linkInput {
    border: 2px solid black;
    padding: 5px;
    margin-top: var(--spacing-sm);

    &:focus {
      border: 2px solid var(--primary-color);
      outline: none;
    }
  }

  &.titleInput {
    resize: none;
    width: 100%;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none;
    word-break: break-word;
    line-height: 1.2;
    font-size: var(--font-size-header-subtitle);
    text-align: center;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--spacing-md);
}

.saveButton,
.counselButton {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-lg);

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
  }
}

.saveButton {
  background: var(--save-button-color);
  color: white;
}

.counselButton {
  background: var(--cancel-button-color);
  color: white;
}

.disabled {
  background: var(--calendar-header);
  cursor: default;
  &:hover {
    background: var(--calendar-header);
    opacity: 1;
  }
}

.previewImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 8px;
  border-radius: 8px;
}

.customFileUpload {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm);
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.customFileUpload input {
  display: none; /* Скрыть стандартный input */
}

.fileInput {
  display: none; /* Скрываем сам input, чтобы он не мешал кастомной кнопке */
}

