@use '../../styles/vars' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: $modal-bg-light;
  padding: 20px;
  border-radius: $border-radius;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: $border-radius;
  }

  button {
    background: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: $border-radius;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}