@use "../../../styles/vars.scss" as *;
.inputWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  width: 100%;
}

.label {
  color: var(--text-color);
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
}

.input {
  font-family: inherit;
  flex-grow: 1;
  margin: 0;
  color: var(--text-color);
  background: var(--calendar-day);
  width: 100%;
  padding: 0 0 0 8px;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-lg);

  // &:disabled {
  //   border: none;
  // }

  &.titleInput {
    resize: none;
    width: 100%;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none;
    word-break: break-word;
    line-height: 1.2;
    font-size: var(--font-size-header-subtitle);
    text-align: center;
  }

  @media (max-width: $max-width) {
    font-size: var(--font-size-header-subtitle);
  }
}