@use "./styles/vars.scss" as *;

#scaler {
  min-width: 970px;
  width: 100%;
  margin: 0 auto;
  transform-origin: top left;
}

// @media screen and (max-width: 970px) {
//   #scaler {
//     width: 970px;
//     // transform: scale(calc(100vw / 970));
//     transform: scale(#{'calc(100vw / 970)'});
//   }
// }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Lora", Arial, serif;
  background: var(--background-color);
  color: var(--text-color);
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: inherit;

  &:hover {
    opacity: 0.8;
  }
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tooltip {
  position: relative;
  z-index: 9;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
