// * {
//   font-family: "Lora", Arial, serif;
// }

body {
  font-family: "Lora", Arial, serif;
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-width: 800px;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;

  &:hover {
    opacity: 0.9;
  }
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tooltip {
  position: relative;
  z-index: 10;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
